

@font-face {
  font-family: myHultog;
  src: url(font/Hultog.ttf);

}

@font-face {
  font-family: myHultogCoursive;
  src: url(font/HultogItalic.ttf);
 
}


@font-face {
  font-family: myCaps;
  src: url(font/GoudyInitialen.ttf);
 
}




body {
background-color: black;
}


	

.container-eu {
	margin-top: 150px;
	font-family: myHultog;
	font-size: 12px;
	margin-bottom: 100px;
}


.flex-container{

    width: 100%;
    min-height: 400px; 
    margin: 0 auto;
    display: -webkit-flex; /* Safari */     
    display: flex; /* Standard syntax */
	text-align:justify;
	}


.col-ing{

	margin-right: 15px;
	margin-left: 15px;
	padding: 50px;
	background-image: url("img/pergamena.png");
	background-repeat: repeat-y;
	background-size: 100%;
	background-position: center;
    -webkit-flex: 1; /* Safari */
    -ms-flex: 1; /* IE 10 */
    flex: 1; /* Standard syntax */
}


.col-ita{
	margin-right: 15px;
	margin-left: 15px;
	padding: 50px;
	background-image: url("img/pergamena.png");
	background-repeat: repeat-y;
	background-size: 100%;
	background-position: center;
    -webkit-flex: 1; /* Safari */
    -ms-flex: 1; /* IE 10 */
    flex: 1; /* Standard syntax */
}


.container-eu h2:before {
	content: "";
	background-image: url("img/fregio2.png");
	background-size: 100% 100%;
	display: block;
	height: 40px;
	width: 300px;
	margin-top: 10%;
	margin-left: 15%;
	margin-bottom: 5%

}




.index-container {
	font-family: myHultog;
	color: #4a433e;
	background-image: url("img/book.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;
	margin-top: 100px;
	margin-bottom: 80px;
	margin-left: 30px;
	margin-right: 30px;
	padding-top: 150px;
	padding-bottom: 100px;
	padding-left: 120px;
	padding-right: 80px;
	
}

.grid-container {
	padding-left: 80px;
	margin-left: 50%;

}

.grid-container p {
	display: none;
}

.grid-container a {
	display: none;
}

.item1:before {
	content: "";
	background-image: url("img/incisione.jpeg");
	background-size: 100% 100%;
	display: block;
	height: 240px;
	width: 220px;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 20%;
}


h1 {
	text-transform: uppercase;
	font-family: myHultogCoursive;
	text-align: center;
	font-size: 50px;
	letter-spacing: 6px;
}





.container-documentation {
	color: #4a433e;
	font-family: myHultog;
	background-image: url("img/book.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;
	font-size: 17px;
	margin: 30px;
	padding-top: 150px;
	padding-bottom: 150px;
	padding-left: 140px;
	padding-right: 110px;
	line-height: 1;
	text-align: justify;
	  -webkit-column-count: 2; /* Chrome, Safari, Opera */
	  -moz-column-count: 2; /* Firefox */
	  column-count: 2;
	  -webkit-column-gap: 150px; /* Chrome, Safari, Opera */
	  -moz-column-gap: 150px; /* Firefox */
	  column-gap: 150px;
}

h2 {
	letter-spacing: 10px;
	text-align: center; 
	text-transform: uppercase;
	line-height: 1.5;
	font-size: 30px;
	font-family:  myHultogCoursive;
	padding-bottom: 20px;
}


}

p {font-family: myHultog;
	padding-top: 5px;
	line-height: 1;
}

.container-documentation p:first-letter {
	font-family: myCaps;
	font-size: 100px;
	float:left;
	height: 70px;
	padding-bottom: 5px;
	padding-right: 5px;
	line-height: 1;
}

#title-documentation:before {
	content:"";
	background-image: url("img/fregio.jpeg"); 
	background-size: 100% 100%;
	border: double;
	border-color: #4a433e;
	display:inline-block;
	height: 25px;
	width: 350px;
	margin-bottom:20px;
}




h3 {
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 10px;
	font-size:20px;
	padding: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 1.5;
}

h4{
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 10px;
	padding: 5px;
	font-size: 15px;
	font-family: myHultogCoursive;
}

section img {	
	width: 100%;
	height: 100%;
	margin-right: 25px;
	filter: sepia(1);
	-webkit-filter: sepia(1);
	align-items: center;
	border:2px solid;
	margin-top: 15px;
	margin-bottom: 15px;
}

article {
	color: #4a433e;
	
}

section {
	margin-left: 30px;
	margin-right: 30px;
	font-family: myHultog;
	font-size: 17px;
	background-image: url("img/book.png");
	background-position: center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	text-align: justify;
	padding-top: 140px;
	padding-bottom: 140px;
	padding-right: 120px;
	padding-left: 160px;
	-webkit-column-count: 2; /* Chrome, Safari, Opera */
	-moz-column-count: 2; /* Firefox */
	column-count: 2;
	-webkit-column-gap: 150px; /* Chrome, Safari, Opera */
	-moz-column-gap: 150px; /* Firefox */
	column-gap: 150px;	
	line-height: 1;
}

section:first-of-type{
	-webkit-column-count: 1; /* Chrome, Safari, Opera */
	-moz-column-count: 1; /* Firefox */
	column-count: 1;
	padding-left: 60%;
	padding-top: 20%;
	padding-bottom: 20%;

}


section p:first-letter {
	font-family: myCaps;
	font-size: 100px;
	float:left;
	height: 70px;
	padding-right: 6px;
	padding-bottom: 6px;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

figcaption {
	font-family: myHultogCoursive;
	font-size: 15px;
	text-align: center;
	line-height: 1.5;
	padding: 5px;
}

table {border: double;
	margin-bottom: 25px;
	margin-top: 25px;
	border-color: #4a433e;
	color: #4a433e;
}

th {border: double;
	font-size: 25px;
	text-transform: uppercase;
	padding: 10px;
}

td {
	padding: 10px;
	border: double;
	border-color: #4a433e;
}


a {
  color:#4a433e;
}

article span {
	font-family: myHultogCoursive;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
	display: block;
	font-size: 25px;
}

h6{font-family:  myHultogCoursive;
	text-align: center;
	padding: 15px;
}



#table-home-page {
display: table;
font-size: 25px;
padding-left: 65%;
}

#subright {
	font-size: 25px;
font-family: myHultogCoursive;
  text-align: center;
  letter-spacing: 3px;
  padding: 10px;
  display: table-row;
  border: solid; 
  }

#subcenter {
	font-size: 25px;
  font-family: myHultogCoursive;
  text-align: center;
  letter-spacing: 3px;
padding: 10px;
display: table-row;}

#subleft {
font-size: 25px; 
font-family: myHultogCoursive;
  text-align: center;
  letter-spacing: 3px;
padding: 10px;
display: table-row;}


#title {padding-left: 55%;}


.container-about {
	display: grid;
	background-size: 100% 100%;
	background-image: url("img/book.png");
	background-repeat: no-repeat;
	color: #4a433e;
	margin-top: 150px;
	margin-bottom: 80px;
	margin-left: 30px;
	margin-right: 30px;
	padding-top: 100px;
	padding-bottom: 80px;
	padding-right: 90px; 
	padding-left: 130px;
}




#text-about {
grid-area: 1 / 1 ;
padding-right: 60px;
}

#text-about p {
	font-size: 22px;
	font-family: myHultogCoursive;
  text-align: center;
  letter-spacing: 2px;
}


.container-fluid{
  grid-area: 1 / 2; 
  padding-left: 60px;
}


.card-text{
	font-size: 16px;
	font-family: myHultog;
	line-height: 1;

}

.card-img-top {
	display: none;

}


.card {
	background-color: transparent;
  text-align: justify;
	border: none;
	padding: 0px !important;;
	margin: 0px !important;}

h5 {font-size: 16px;
	letter-spacing: 2px;
	padding: 5px;
	text-align: center;
	font-family: myHultogCoursive;
}


.card-title-sara:before { content: ""; 
background-image: url("img/sara500.png"); 
filter: sepia(0.8);
background-size: 100% 100%;
display:inline-block;
height: 140px;
width: 120px;
margin-bottom: 20px;
}


.card-title-lucia:before { content: ""; 
background-image: url("img/lucia500.png"); 
filter: sepia(0.8);
background-size: 100% 100%;
display:inline-block;
height: 140px;
width: 120px;
background-position: center;
margin-bottom: 20px;
}


.card-title-michela:before { content: ""; 
background-image: url("img/michela500.png"); 
background-size: 100% 100%;
filter: sepia(0.7);
display:inline-block;
height: 140px;
width: 120px;
background-position: center;
margin-bottom: 20px;
}


@media screen and (min-width: 1400px) {
	section{
	font-size: 20px;
	}}


@media screen and (max-width: 1200px) {
	#table-home-page {
	padding-left: 65%;;
	}




@media screen and (max-width: 1100px) {
	.container-documentation {
	margin: 25px;
	padding-top: 130px;
	padding-bottom: 130px;
	padding-left: 120px;
	padding-right: 90px;
	-webkit-column-gap: 130px; /* Chrome, Safari, Opera */
  	-moz-column-gap: 130px; /* Firefox */
  	column-gap: 130px;}
  	section p:first-letter{
  	font-size: 80px;
	height: 60px;	
  	}
	.container-documentation p:first-letter {
	font-size: 80px;
	height: 60px;} 
	.container-documentation p {
	font-size: 15px;}
	#title-documentation:before {
	height: 20px;
	width: 300px;
	margin-bottom:20px;}
	#text-about p {
	font-size: 18px;}
	.card-text {
	font-size: 12px;}
	.card-title-michela:before {
	height: 120px;
	width: 100px;}
	.card-title-lucia:before {
	height: 120px;
	width: 100px;}
	.card-title-sara:before {
	height: 120px;
	width: 100px;}
	h2 {font-size: 25px;
	padding: 15px;
	letter-spacing: 5px;}
	section p:first-letter {
	font-size: 80px;
	height: 60px;}
	section{
	padding-top: 120px;
	padding-bottom: 120px;
	padding-right: 100px;
	padding-left: 140px;
	font-size: 15px;
	-webkit-column-gap: 130px; /* Chrome, Safari, Opera */
	-moz-column-gap: 130px; /* Firefox */
	column-gap: 130px;	}
	h3{
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 15px;
	letter-spacing: 5px;}
	h4{
	font-size: 10px;
	letter-spacing: 5px;}
	h5{
	font-size: 14px;}
	figcaption {
	font-size: 10px;}
	span {
	padding-top: 30px;
	padding-bottom: 30px;
	font-size: 15px;}
	.index-container{
	padding-top: 130px;
	padding-bottom: 80px;
	padding-left: 100px;
	padding-right: 60px;
	}
	.grid-container {
	padding-left: 60px;}
	h1{font-size: 40px;
	letter-spacing: 5px;}
	#subright {
	font-size: 20px;}
	#subleft {
	font-size: 20px;}
	#subcenter {
	font-size: 20px;}
	#title{
		font-size: 40px;
	}
	}
 



@media screen and (max-width: 1000px) {
	.index-container{
	padding-top: 100px;
	padding-bottom: 40px;
	padding-left: 100px;
	padding-right: 60px;
}
	h3{font-size:13px;}
	.grid-container {
	padding-left: 40px;}
	.item1:before {
	height: 180px;
	width: 160px;
	margin-left: 27%;
	}
	#table-home-page {
	font-size: 25px;
	}
	#subright {
	font-size: 18px;}
	#subleft {
	font-size: 18px;}
	#subcenter {
	font-size: 18px;}
}






@media screen and (max-width: 950px) {
	.card-title-michela:before {
	height: 100px;
	width: 85px;}
	.card-title-lucia:before {
	height: 100px;
	width: 85px;}
	.card-title-sara:before {
	height: 100px;
	width: 85px;}
	.container-documentation {
	margin: 20px;
	padding-top: 110px;
	padding-bottom: 110px;
	padding-left: 100px;
	padding-right: 70px;
	-webkit-column-gap: 110px; /* Chrome, Safari, Opera */
  	-moz-column-gap: 110px; /* Firefox */
  	column-gap: 110px;}
	section p:first-letter{
  	font-size: 60px;
	height: 40px;
	padding-bottom: 5px;}
	.container-documentation p:first-letter {
	font-size: 60px;
	height: 40px;}
	#text-about p {
	font-size: 16px;}
	.container-documentation p {
	font-size: 12px;}
	#title-documentation:before {
	height: 15px;
	width: 200px;
	margin-bottom:15px;}
	section{
	padding-top: 100px;
	padding-bottom: 100px;
	padding-right: 90px;
	padding-left: 120px;
	font-size: 10px;
	-webkit-column-gap: 110px; /* Chrome, Safari, Opera */
	-moz-column-gap: 110px; /* Firefox */
	column-gap: 110px;}	
	.card-text {
	font-size: 10px;}
	h2 {
	font-size: 18px;
	padding: 10px
	}
	h3{
	padding-top: 0px;
	padding-bottom: 5px;
	font-size: 12px;}
	h4{
	font-size: 8px;
	}
	figcaption {
	font-size: 8px;}
	span {
	padding-top: 25px;
	padding-bottom: 25px;
	font-size: 13px;}
	h5{
	font-size: 12px;}
	h1{
	font-size: 40px;
	letter-spacing: 5px;}
	.container-about{
	padding-right: 60px; 
	padding-left: 100px;
	}
	#text-about{
	padding-right: 40px;
	}
	.container-fluid{
	padding-left: 40px;	
	}
}







@media screen and (max-width: 800px) {
	.card-title-michela:before {
	height: 80px;
	width: 65px;}
	.card-title-lucia:before {
	height: 80px;
	width: 65px;}
	.card-title-sara:before {
	height: 80px;
	width: 65px;}
	.container-documentation {
	margin: 15px;
	padding-top: 90px;
	padding-bottom: 90px;
	padding-left: 80px;
	padding-right: 50px;
	-webkit-column-gap: 90px; /* Chrome, Safari, Opera */
  	-moz-column-gap: 90px; /* Firefox */
  	column-gap: 90px;}
	section p:first-letter{
  	font-size: 40px;
	height: 20px;
	padding-bottom: 5px;}
	.container-documentation p:first-letter {
	font-size: 40px;
	height: 20px;}
	.container-documentation p {
	font-size: 9px;}
	#title-documentation:before {
	height: 10px;
	width: 100px;
	margin-bottom:15px;}
	section{
	padding-top: 80px;
	padding-bottom: 80px;
	padding-right: 70px;
	padding-left: 100px;
	font-size: 10px;
	-webkit-column-gap: 90px; /* Chrome, Safari, Opera */
	-moz-column-gap: 90px; /* Firefox */
	column-gap: 90px;}	
	.card-text {
	font-size: 10px;}
	h2 {
	font-size: 12px;
	padding: 10px
	letter-spacing: 2px;
	}
	h3{
	padding-top: 0px;
	padding-bottom: 5px;
	font-size: 10px;}
	h4{
	font-size: 8px;
	}
	p {
	padding-top: 5px;
	}
	.item1:before {
	height: 160px;
	width: 140px;
	margin-top: 12px;
	margin-bottom: 12px;
	margin-left: 27%;
	}
	h1{font-size: 30px;
	letter-spacing: 2px;}
	#subright {
	font-size: 12px;}
	#subleft {
	font-size: 12px;}
	#subcenter {
	font-size: 12px;}
	.index-container{
	padding-top: 90px;
	padding-bottom: 40px;
	padding-left: 40px;
	padding-right: 40px;
	}
	#title{
		font-size: 30px;

	}
	#table-home-page {
	padding-left: 67%;
	font-size: 10px;
	}

	
}





@media screen and (max-width: 650px) {
	.container-documentation p:first-letter {
	font-size: 20px;
	height: 10px;}
	.container-documentation {
	font-size: 8px;
	margin: 5px;
	padding-left: 60px;
	padding-right: 40px;
	-webkit-column-gap: 70px; /* Chrome, Safari, Opera */
  	-moz-column-gap: 70px; /* Firefox */
  	column-gap: 70px;}
	section p:first-letter{
  	font-size: 20px;
	height: 10px;}
	#title-documentation:before {
	height: 10px;
	width: 100px;
	margin-bottom:15px;}
	section{
	padding-top: 60px;
	padding-bottom: 60px;
	padding-right: 60px;
	padding-left: 80px;
	font-size: 8px;
	-webkit-column-gap: 70px; /* Chrome, Safari, Opera */
	-moz-column-gap: 70px; /* Firefox */
	column-gap: 70px;}	
	.card-text {
	font-size: 10px;}
	h2 {
	font-size: 12px;
	padding: 5px
	letter-spacing: 2px;
	}
	h2{
	letter-spacing: 1.5px;
	}
	h3{
	padding-top: 0px;
	padding-bottom: 0px;
	font-size: 6px;}
	h4{
	font-size: 5px;
	}
	h5{
	margin-top: 50px;
	font-size: 12px;
	letter-spacing: 1px;
	line-height: 100%;}
	p {
	padding-top: 0px;
	}
	.item1:before {
	height: 90px;
	width: 80px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 30%;
	}
	h1{font-size: 20px;
	letter-spacing: 1px;}
	#subright {
	font-size: 10px;}
	#subleft {
	font-size: 10px;}
	#subcenter {
	font-size: 10px;}
	.index-container{
	padding-top: 50px;
	padding-bottom: 30px;
	padding-left: 40px;
	padding-right: 20px;}
	.grid-container {
	padding-left: 20px;}
	#title{
	font-size: 20px;
	padding-left: 50%;
	 }
	#table-home-page {
	padding-left: 63%;
	font-size: 10px;
	}
	

	
}


