
@font-face {
  font-family: myClaredon;
  src: url(font/unicode.clarendb.ttf);
}

@font-face {
  font-family: myClaredonBold;
  src: url(font/tt0351m_.ttf);
}


@font-face {
  font-family: myBodoni;
  src: url(font/LibreBodoni-Regular.ttf);
}


@font-face {
  font-family: myTitle;
  src: url(font/Engravers_Old_English_Normal.ttf);
}

body {
  background-image: url("img/wood.jpg");
}




article { 
  margin-left: 50px; 
  margin-right: 50px;
  margin-top: 100px; 
  margin-bottom: 100px;  
  padding: 20px; 
  font-weight: 100;
  background-image: url("img/newspaper1.png");
  text-align: justify;
  -webkit-column-count: 3; /* Chrome, Safari, Opera */
  -moz-column-count: 3; /* Firefox */
  column-count: 3;
  -webkit-column-gap: 20px; /* Chrome, Safari, Opera */
  -moz-column-gap: 20px; /* Firefox */
  column-gap: 20px;
  -webkit-column-rule: 1px solid; /* Chrome, Safari, Opera */
  -moz-column-rule: 1px solid; /* Firefox */
  column-rule: 1px solid;
  border-top-style: dotted;
  border-top-width: 2px;
  border-top-left-radius: 5px; 
  border-top-right-radius: 5px;
  border-top-color: #2b1d0e; 
  border-bottom-style: dotted;
  border-bottom-left-radius: 5px; 
  border-bottom-right-radius: 5px;
  border-bottom-width: 2px;
  border-bottom-color: #52402d;   
}

@media screen and (max-width: 700px) {article { 
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;}}



@media screen and (max-width: 600px) {article { 
  -webkit-column-count: 1; /* Chrome, Safari, Opera */
  -moz-column-count: 1; /* Firefox */
  column-count: 1;
} }


p {
  font-family: myBodoni;
  text-indent: 1em;
}

h1 { 
font-family: myTitle;
font-size: 100px; 
text-align: center; 
text-shadow: 2px 2px #f5e1bf, 3px 3px #000000;
letter-spacing: 7px;
}

h2 { 
  font-family: myClaredonBold;
  text-align: center;
  font-style: italic;
  text-transform: uppercase;

}

h3 { 
  font-family: myClaredonBold;
  text-align: center;
}

h4{
  font-family: myClaredonBold;
  text-align: left;
}

h5 { 
  font-family: myClaredonBold; 
}

a { 

  color: #000000; }

img {
  display: none;
}

.card-img-top {
  display: none;
}

.container{
  margin-top: 50px;
  padding-top: 70px;
  margin-bottom: 50px;
  background-image: url("newspaper1.png");
  border-top-style: dotted;
  border-top-width: 2px;
  border-top-left-radius: 5px; 
  border-top-right-radius: 5px;
  border-top-color: #2b1d0e; 
  border-bottom-style: dotted;
  border-bottom-left-radius: 5px; 
  border-bottom-right-radius: 5px;
  border-bottom-width: 2px;
  border-bottom-color: #52402d; 
  }

.card{border: none;
margin:none;}


hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 30px;
  margin-right: 30px;
  border-style: inset;
  border-width: 1px;
  border-color: #000000;}

.card-body {background-image: url("newspaper1.png");
  font-family: myClaredon;
  font-weight: 100;
text-align: justify;}


.nav-link { cursor: pointer;
            margin-right: 15px;
            }

.navbar-toggler-icon {
            background-image: url('https://mdbootstrap.com/img/svg/hamburger9.svg?color=FF2C00');
            }



.dropdown-item {
            color: #FFFFFF;
            }

.card-img-top {

            width: 100%;
            object-fit: cover;
            } 

.footer { 
            position:default;
            left: 0;
            width: 100%;
            background-color: #000000;
            color: white;
            text-align: center;
            font-family: Helvetica, Arial, sans-serif;
            padding: 5px;
            letter-spacing: 2.5px;
            font-size: 11px;
            padding-top: 15px; 
      padding-bottom: 3px;
      height: auto !important; /*capirne il significato*/
            
                }

.foot-menu {cursor: pointer;

}


/* FORM IN FOOTER*/
#button-contact-us { 
font-family: Helvetica, Arial, sans-serif;
background-color:transparent;
color:#808080;
 border: none;
}

.button-form {
  background-color: #000000; 
  font-family: Helvetica, Arial, sans-serif; 
  letter-spacing: 2.5px; 
  font-size: 11px; 
  border: none; 
  color: #808080; 
  padding-left: 0px; 
  padding-right: 0px;
}

.modal-title{
  font-family: Helvetica, Arial, sans-serif;
color: black;
}


/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color:transparent;
  color: black;
  border: none;
}

input[type=submit]:hover {
  background-color: transparent;
}

/* Style the container/contact section */
.container {
  background-color:white;
  padding: 10px;
}

.column {
  width: 100%;
  margin-top: 6px;
  padding: 20px;
  font-family: Helvetica, Arial, sans-serif;
  color: black;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
      
      
a:link, a:visited {
            text-decoration:none;
            color: grey;
            background-color: transparent;
    }
a:hover, a:active {
        text-decoration:none;
        color: white;
    }

    
   


/* ABOUT
–––––––––––––––––––––––––––––––––––––––––––––––––– */


/* DISCLAIMER
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.modal-content {background-image: "img/newspaper1.png";

}

ul {font-family: myBodoni;}


.modal-title{
 font-family: myBodoni;
}

.modal-fade {
 font-family: myBodoni;
 
}

.modal-footer{
background-color: transparent;


}
.button { 
font-family: myBodoni;
background-color:transparent;
color: black;
outline: none;
border: none;
}

.button:hover{color: #aeb0c8;
outline:0 !important;
} /*modifica del bottone quando passa il mouse*/

.button:active {
 color: #aeb0c8;
 border: transparent;
 outline: none;
} 

#close-button{ /*non prende più questi comandi...anche per quanto riguarda quello del disclaimer... in rete non li vedo come voglioo*/
font-family: myBodoni;
background-color:transparent;
color: black; 
border: none;
font-size:10px;
}
} /*modifica del bottone quando si clicca il bottone*/

figcaption {display: none;}

