@font-face {
   font-family:LibbyHeavy ;
   src: url(LibbyHeavy.ttf.eot);
src: url('font/LibbyHeavy.ttf') format('truetype');}

@font-face {
   font-family:Bernhard Antique ;
   src: url(Bernhard Antique.eot);
src: url('font/bernhardantique.ttf') format('truetype');}

@font-face {
   font-family:futurismo ;
   src: url(futurismo.eot);
src:url('font/futurismo.ttf') format('truetype');}

@font-face {
   font-family:English Gothic Bold Italic ;
   src: url(English Gothic Bold Italic.eot);
src: url('font/English Gothic Bold Italic.ttf') format('truetype');}

@font-face {
   font-family: hasta grotesk;
   src: url(hasta grotesk.eot);
src: url('font/hasta grotesk.ttf') format('truetype');}

@font-face {
   font-family:Typo Grotesk Black ;

src: url('font/Typo Grotesk Black Demo.otf') format('truetype');}

@font-face {
   font-family:Normande Regular ;
   src: url(Normande Regular.eot);
src:url('font/Normande Regular.ttf') format('truetype');}

@font-face {
   font-family:BitstreamIowanOldStyleBoldBT ;
   src: url(BitstreamIowanOldStyleBoldBT.eot);
src:url('font/BitstreamIowanOldStyleBoldBT.ttf') format('truetype');}


@font-face {
   font-family:Futura Book font ;
   src: url(Futura Book font.eot);
src: url('font/Futura Book font.ttf') format('truetype');}

@font-face {
   font-family:SchmalfetteCPt ;
   src: url(SchmalfetteCP.eot);
src: url('font/SchmalfetteCP.ttf') format('truetype');}

@font-face {
   font-family:Modesto Bold ;
   src: url(Modesto Bold.eot);
src:url('font/Modesto Bold.ttf') format('truetype');}

@font-face {
   font-family: FatCow-Italic;
   src: url(FatCow-Italic.eot);
src:url('font/FatCow-Italic.ttf') format('truetype');}




body{background-image: url("img/metal background.jpg");
}


#title{

	font-family:LibbyHeavy;
	font-size:100px;
	text-align:justify;
	word-break: break-word;
	margin-left:400px;
	margin-right:400px;
	vertical-align: center;
	text-decoration:underline;
	color: 	#483D8B;
	max-width:100%;
	padding-top:10%;
}

@media screen and (max-width: 1200px) {#title{ font-size: 100px;

margin-left:300px;
  margin-right:350px;
}}



@media screen and (max-width: 1000px) {#title { font-size: 80px;

margin-left:200px;
  margin-right:250px;
}}


@media screen and (max-width: 700px) {#title{ font-size: 120px;

margin-left: 180px;
  margin-right:200px;
}}


#table-home-page{display: inline-block;
			}

#subright{font-family:futurismo;
font-size:20px;
 display:inline-block;
   margin:0;
}

#subcenter{font-family:futurismo;
font-size:20px;
 display:inline-block;
   margin:0;}

#subleft{font-family:futurismo;
font-size:20px;
 display:inline-block;
margin:0;
color: red;
   }


#subcenter:after{display: none;}
#subright:after{display: none;}
#subleft:after{display: none;}

.container{margin-top: 50px;
		margin-bottom: 70px;
		border: 20px outset black;
		text-align:justify;
		font-size: 15px;
		background-image:url("img/sfondo puntini.png");
		 padding-top:0px;
		padding-left:0px;
		padding-right: 0px;
		height:auto;
		overflow: hidden;
}

		
.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;

  }




.grid-container > div{

	text-align: justify;
	
   float: left;
   margin: 40px;
}

 
.container p {font-family:LibbyHeavy;
font-size: 10px;
border-right:none;
margin-top: 20px;
margin-left:20px;
margin-right:20px;
}

.container p:after {  
    content: url('img/parentesi.jpg');
	margin-top: 10px;
}

section{font-family:LibbyHeavy;
font-size: 10px;
border-right:none;
margin-top: 20px;
margin-left:20px;
margin-right:20px;}


li{font-family: hasta grotesk;}



@media screen and (max-width: 1000px) { section { font-size: 7px;


}}
h1{
	font-family:LibbyHeavy;
	font-size:100px;
	text-align:justify;
	margin-right:400px;
	vertical-align: center;
	text-decoration:underline;
	color: 	#483D8B;
	max-width:100%;
	padding-top:10%;}

h3{font-family:English Gothic Bold Italic;
	font-size: 25px;}
	
@media screen and (max-width: 1000px) { h3 { font-size: 20px;


}}

a{font-family: Futurismo; 
color:black;
font-size:15px;
}

a:active {
color: black;}

a:visited {
color: red;}

hr{border:5px solid black;}

article span{
	border-top:solid;
	border-bottom: solid;
	font-family: English Gothic Bold Italic;
	text-align:center; 
	font-size:15px;
	margin-left:10px;
	} 


.item1{ 
grid-column-end: span 2;
width: 400px;
border-right: solid;
padding-right: 5px;
transform: rotate(10deg);
padding-left: 60px;
border-left: 60%;
margin-top:5%;
}
 


.item2{
padding-right: 50px;
border-top: solid;
padding-top: 20px;
transform: rotate(180deg);
margin-top: 25px;

}

.item3{
width: 400px;
border-top: solid;
transform: rotate(-90deg);
 padding-bottom:30%;
}

.item4{ 
grid-column-end: span 2;
width: 350px;
border-right: solid;
padding-right: 5px;
transform: rotate(30deg);
padding-left: 30px;
border-left:15%;
border-top: 10%;
padding-top:10px;
padding-bottom: 80px;


}


.item5{border-top: solid;
}
 



.item6{ width: 200px;
border-left: solid;
padding-left: 5px;
transform: rotate(-40deg);
}

@media screen and (min-width: 100px) {
  div.item1 {
	 margin-top:30%;
    margin-right:200%;
	margin-left: -10px;

  }
}

@media screen and (max-width: 600px) {
div.item2{
	padding-top:0px;
	margin-top:2000%;
	margin-bottom: 1000%;
	margin-left:50px;
	 max-width: 10px;	
 max-height:10px;
}}


@media screen and (min-width: 100px) {
  div.item3 {
  margin-top: 100px;
  margin-bottom: 650px;
margin-left:20%;
  }
}

@media screen and (max -width: 200px) {
  div.item3 {
margin-top:10px;
padding-top: -10px;

  }
}

@media screen and (max-width: 1000px) {div.item3 { 
margin-bottom:10px;
margin-top: 600px;
}}

@media screen and (max-width: 600px) {
div.item3{
 max-width: 200x;	
 max-height:30px;
 margin-left:-120%;

}}



@media screen and (max-width: 600px) {
div.item4{
	border-right:none;
	border-top:solid;
margin-left:0%;
margin-right:50%;
}}

@media screen and (max-width: 600px) {
div.item6{
	border-right:none;
	border-top:none;
margin-top:100%;
margin-bottom: -10%;
margin-left:-20%;
margin-right:50%;
padding-left:20%;
}}
@media screen and (min-width: 100px) {
  div.item4 {
 
	margin-right: 70%;
  }
}


@media screen and (min-width: 100px) {
  div.item6 {
	margin-left: 50%;
	padding-bottom:-30px;
	border-right:10%;

  }
}


@media screen and (max-width: 700px) {
  div.item6 {
	  border-left:none;
	  border-top:solid;
	
  }
}

/*stile articoli*/
	
	h2{ font-family:Typo Grotesk Black;
	text-transform: uppercase;
	font-size: 70px;
	border-bottom:7px solid;
	border-color:red;
	transform:rotate(180deg);
	-webkit-transform: rotate(180deg); /* Safari and Chrome */
	-o-transform: rotate(180deg); /* Opera */
	-moz-transform: rotate(180deg); /* Firefox */
	-ms-transform: rotate(180deg);
	margin-top: -100px;
margin-left: 10px;
}
article p{font-family:LibbyHeavy;
font-size: 10px;
border-right:none;
margin-top: 20px;
margin-left:20px;
margin-right:20px;
} 

@media screen and (max-width: 1000px) { .container-about p { font-size: 7px;

}}


article{
margin-top: 100px;
padding-top: 200px;
		margin-bottom: 70px;
		padding-bottom: 80px;
		background-color: #FFFAFA;
		border: 20px outset black;
		text-align:justify;
		font-size: 15px;
		margin-left: 100px;
		margin-right:100px;
		background-image:url("img/sfondo puntini.png");
		column-count: 2;
		-webkit-column-count: 2; /* Chrome, Safari, Opera */
		-moz-column-count: 2; /* Firefox */
		-webkit-column-gap: 20px; /* Chrome, Safari, Opera */
		-moz-column-gap: 20px; /* Firefox */
		column-gap: 20px;
}

@media screen and (max-width: 1000px) { article p { font-size: 7px;

}}

@media screen and (max-width: 800px) {article { 
  -webkit-column-count: 1; /* Chrome, Safari, Opera */
  -moz-column-count: 1; /* Firefox */
  column-count: 1;
  margin-left:40px; 
  margin-right:40px;}}



@media screen and (max-width: 600px) {article { 
  -webkit-column-count: 1; /* Chrome, Safari, Opera */
  -moz-column-count: 1; /* Firefox */
  column-count: 1;
} }



@media screen and (max-width: 100px) {article { 
  -webkit-column-count: 1; /* Chrome, Safari, Opera */
  -moz-column-count: 1; /* Firefox */
  column-count: 1;
} }
@media screen and (max-width: 1000px) {article { 
  margin-left:50px; 
  margin-right:50px;
} }
h3{
	font-family: FatCow-Italic;
	font-size:40px;
	margin-top:5%;
margin-left: 10%;}



@media screen and (max-width: 1200px) {h2{ font-size: 50px;

margin-left:20px;

}}


@media screen and (max-width: 1000px) {h2 { font-size: 40px;
margin-left:20px;
}}


@media screen and (max-width: 700px) {h2{ font-size: 40px;

margin-left:20px
}}




@media screen and (max-width: 1200px) {h3{ font-size: 30px;

margin-left:50px;


}}

@media screen and (max-width: 1000px) {h3 { font-size: 30px;

margin-left:50px;
}}

@media screen and (max-width: 700px) {h3{ font-size: 30px;

margin-left:50px
}}



h4{ font-family:Bernhard Antique;
  color:red;
font-size: 30px;
text-transform:uppercase;
}
@media screen and (max-width: 1000px) { h4 { font-size: 15px;


}}
h5 {  font-family:SchmalfetteCPt;
  
}
@media screen and (max-width: 1000px) { h5 { font-size: 10px;


}}

h6{ font-family:hasta grotesk;
font-style: bold;
	
}
@media screen and (max-width: 1000px) { h6 { font-size: 8px;


}}



article img{
	height: auto;
	filter: grayscale(100%);
	transform:rotate(20deg);
	-webkit-transform: rotate(20deg); /* Safari and Chrome */
	-o-transform: rotate(20deg); /* Opera */
	-moz-transform: rotate(20deg); /* Firefox */
	-ms-transform: rotate(20deg);
	margin-top:150px;
	margin-bottom: 140px;
	margin-right:20%;
	margin-left: 10%;
	max-width: 70%;	
	border: 5px solid;

}
@media screen and (max-width: 1200px) {article img{ 

width: 300px;
margin-right:10%;

}}


@media screen and (max-width: 1000px) {article img{ 
width:330px;
margin-left: 10%
}}


@media screen and (max-width: 700px) {article img{ width:100px;
transform:none;
width: 300px;

}}
article p:after{content: url('img/parentesi.jpg');
	margin-top: 10px;}
	

/*table*/
table {
  border:solid;
   margin-top:15%;
   margin-bottom: 15%;
   border-width: thick;
   -webkit-border-radius:20px;
    border-radius: 20px;
    border-collapse: separate;
	word-break: break-word;
margin-left:auto;
margin-right:auto;
  } 
  tr{
border-color:transparent;}

  td, th{ padding: 15px;
 text-align: center;
}


th{font-family:Normande regular;
text-decoration: overline;
transform: rotate(180deg);
text-transform: uppercase;
color:#ff471a;
font-size:15px;
}

td{ font-family:BitstreamIowanOldStyleBoldBT;
font-size: 13px;  
}

@media screen and (max-width: 700px) {table{ 
font-size: 9px;
margin-right: 10px;}}


@media screen and (max-width: 300px) {table{
margin-left:1px;
margin-right:-200px;
word-break: break-word;
}}



@media screen and (max-width: 300px) {table th{ 
font-size: 15px;
word-break: break-word;
}}


@media screen and (min-width: 300px) {table th{
	word-break: break-word;
font-size:15px;

}}
figcaption {font-family: hasta grotesk; 
text-orientation: upright;
writing-mode: vertical-lr; 

font-size:8px;
margin-right:90px;
column-count:3;
margin-top:-40px;
margin-left:10px;

}
figcaption:before {
    content: url('img/uguale.jpg');	
} 




/* smaller phone viewpoints */
@media (min-width: 320px) {figcaption { font-size:10px;
margin-right:70px;
column-count:1;
margin-left:20px;
}}

/* mall devices and most phones */
@media (min-width: 480px) {figcaption { font-size:11px;
margin-right:70px;
column-count:3;
margin-left:20px;
}}
 


/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {figcaption { font-size:10px;
margin-right:70px;
column-count:3;
margin-left:20px;
}}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {figcaption { font-size: 10px;
margin-right:90px;
column-count:3;
}}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {figcaption{ 
overflow:hidden;
font-size: 11px;
margin-right:90px;

}}

hr{border: solid black;}

/*eudirective*/

.row{padding-top:10%;
	margin-top: 90px;
    margin-bottom: 70px;
	background-color: #FFFAFA;
	border: 10px outset black;
	text-align:justify;
	font-size: 15px;
	margin-left: 100px;
	margin-right:100px;}

@media screen and (max-width: 800px) {.row { 
 
  margin-left:40px; 
  margin-right:40px;}}


@media screen and (max-width: 1000px) {.row { 
  margin-left:20px; 
  margin-right:20px;
} }


/*about*/
.container-about{margin-top: 100px;
		margin-bottom: 70px;
		background-color: #FFFAFA;
		border: 20px outset black;
		text-align:justify;
		font-size: 15px;
		margin-left: 100px;
		margin-right:100px;
		background-image:url("img/sfondo puntini.png");

}
.container-about p:after {  
    content: url('img/parentesi.jpg');
	margin-top: 10px;
}
.container-about p {font-family:LibbyHeavy;
font-size: 10px;
border-right:none;
margin-top: 20px;
margin-left:20px;
margin-right:20px;
}
#title-about{font-family:FatCow-Italic;
	font-size: 240px;
	color:black;
	transform:none;
	-webkit-transform: none;
	-o-transform: none;
	-moz-transform: none;
	margin-top:10%;
	word-break: break-word;
	margin-left:440px;
	margin-right:440px;
	vertical-align: center;
	text-decoration:underline;
	border-bottom:7px solid;
	border-color:red;
}
	


@media screen and (max-width: 1200px) {#title-about{ font-size: 80px;

margin-left:350px;
  margin-right:350px;
}}



@media screen and (max-width: 1000px) {#title-about { font-size: 70px;

margin-left:200px;
  margin-right:165px;
}}
@media screen and (max-width: 1000px) {#title-about { font-size: 70px;

margin-left:180px;
  margin-right:165px;
}}


@media screen and (max-width: 700px) {#title-about{ font-size: 50px;

margin-left: 100px;
  margin-right:100px;
  word-break: break-word;
}}




#team{font-family:FatCow-Italic;
	font-size: 150px;
	color:black;
	text-decoration:underline;
	transform:none;
	-webkit-transform: none;
	-o-transform: none;
	-moz-transform: none;
	margin-top:20%;
	margin-left:10%;
}
	
@media screen and (max-width: 1200px) {#team{ font-size: 60px;

margin-left:500px;

}}



@media screen and (max-width: 1000px) {#team { font-size: 45px;

margin-left:165px;
  margin-right:165px;
}}


@media screen and (max-width: 700px) {#team{ font-size: 45px;

margin-left: 100px;
  margin-right:100px;
}}

.card{border-color: #FFFFFF;
background-image:url("img/sfondo puntini.png");
}

.card-img-top-1{ display: block;
				margin-left: auto; 
				margin-right: auto; 
				width: 50%; 
border-radius: 70%;}



/*documentation*/

 .container-documentation{margin-top: 100px;
		margin-bottom: 70px;
		background-color: #FFFAFA;
		border: 20px outset black;
		text-align:justify;
		font-size: 15px;
		margin-left: 100px;
		margin-right:100px;
		background-image:url("img/sfondo puntini.png");

}
@media screen and (max-width: 1000px)  {.container-documentation p { font-size: 7px;

}}
.container-documentation p:after {  
    content: url('img/parentesi.jpg');
	margin-top: 10px;
}
.container-documentation p {font-family:LibbyHeavy;
font-size: 10px;
border-right:none;
margin-top: 20px;
margin-left:20px;
margin-right:20px;
}
	
#title-documentation{font-family:LibbyHeavy;
	font-size:85px;
	color:	#006400;
	transform:none;
	-webkit-transform: none;
	-o-transform: none;
	-moz-transform: none;
	margin-top:10%;
	word-break: break-word;
	margin-left:480px;
	margin-right:480px;
	vertical-align: center;
	border-bottom:none;
	border-color:none;
	font-style: bold;
}

@media screen and (max-width: 1200px) {#title-documentation{ font-size: 45px;

margin-left:78px;
  margin-right:265px;
}}



@media screen and (max-width: 1000px) {#title-documentation { font-size: 70px;

margin-left:200px;
  margin-right:165px;
  word-break: break-word;
}}


@media screen and (max-width: 700px) {#title-documentation{ font-size: 50px;

margin-left: 100px;
  margin-right:100px;
  word-break: break-word;
}}
}


/*eudirective*/

.flex-container{
    width: 80%;
    min-height: 400px;
    margin: 0 auto;
    display: -webkit-flex; /* Safari */     
    display: flex; /* Standard syntax */
	}

.flex-container .col.ing{
 padding: 15px;
    -webkit-flex: 1; /* Safari */
    -ms-flex: 1; /* IE 10 */
    flex: 1; /* Standard syntax */
}

.container-eu{margin-top: 100px;
		margin-bottom:100px;
		background-image:url("img/sfondo2.png");
		
		text-align:justif;
		font-size: 15px;
		margin-left:90px;
		margin-right:90px;}
		
.container-eu p:after {  
    content: url('img/parentesi.jpg');
	margin-top: 10px;
}
.container-eu p {font-family:LibbyHeavy;
font-size: 10px;
border-right:none;
margin-top: 20px;
margin-left:20px;
margin-right:20px;
}

@media screen and (max-width: 1000px) { .container-eu p { font-size: 7px;

}}