@font-face{
font-family: Roboto, sans-serif;
src: url("https://fonts.googleapis.com/css?family=Roboto:100,400"); /*comprende sia roboto thin (100) che regular(400) che sono i font che volevamo usare*/
}

span{
	font-family: Roboto, sans-serif;
	text-align: justify;
	margin-right: 250px;
	margin-left: 250px;
	margin-bottom:15px;
	font-size: 16px;
}

p{
	font-family: Roboto, sans-serif;
	text-align: justify;
	margin-right: 250px;
	margin-left: 250px;
	margin-bottom:15px;
	font-size: 16px;
}

h1{
	font-family: Roboto, sans-serif;
	text-align: center;
	margin-right: 250px;
	margin-left: 250px;
	margin-bottom:15px;
}

h2{ font-family: Roboto, sans-serif;
	text-align: justify;
	margin-right: 250px;
	margin-left: 250px;
	margin-bottom:15px;
	
}

h3{
	font-family: Roboto, sans-serif;
	text-align: justify;
	margin-right: 250px;
	margin-left: 250px;
	margin-bottom:15px;
}

h4{
	font-family: Roboto, sans-serif;
	text-align: justify;
	margin-right: 250px;
	margin-left: 250px;
	margin-bottom:15px;
}

h5{
	font-family: Roboto, sans-serif;
	text-align: justify;
	margin-right: 250px;
	margin-left: 250px;
	margin-bottom:15px;
}

h6{
	font-family: Roboto, sans-serif;
	text-align: justify;
	margin-right: 250px;
	margin-left: 250px;
	margin-bottom:15px;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

figcaption
{	font-family: Roboto, sans-serif;
	text-align: justify;
	margin-right: 250px;
	margin-left: 250px;
	margin-bottom:15px;
	font-size: 13px;
	text-align:center;
}

/*da tenere in considerazone: 
-li e ul ol
-div 
-tabelle
-gli h vanno allineati al centro? 
<pre>: preformatted block,
– <address>: the author of the page,
– <blockquote>: long quote
-<dl>: definitions list, composed of many <dt>
(definition term) and <dd> (definition data) elements
-section
-article 
-aside
-link <a>?

per quanto riguarda lo stile:
-attribuire anche colore? (pensando che alcuni html potrebbero avere impostato un colore diverso dal nero)
-sempre per lo stesso motivo riguardo a :  padding e border e content
- font:
 font-weight: normal | bold | 100 | 200 | ... | 900
• font-style: normal | italic | oblique
• font-variant: normal | small-caps
-text
text-decoration: none | underline | overline | line-through
text-indent: length
line-height: length
text-align-last: left | center | right | justified
text-transform: capitalize | uppercase | lowercase | none
text-shadow: h-distance v-distance color
font-stretch: normal | wider | narrower
font-kerning: normal | none
letter-spacing and word-spacing: length
white-space: normal | pre | nowrap

-box properties:
padding: length
margin: length
color: color
background-color: color
border: length type color
box-shadow: h-distance v-distance color
*/