


.grid-container{
    display: grid;
    grid-template-rows: 33.3% 33.3% 33.3%;
    grid-auto-columns: 33.3% 33.3% 33.3%;  
    background-color: transparent;
    width: 300px;
    height: 200px;
    perspective: 1000px;
   
}

.grid-container p {
    display: none;
}

.grid-container a {
    display: none;
}

#table-home-page {
    display:none;
}

  
  /* This container is needed to position the front and back side */
  .item1 {
    position: relative;
    width: 300%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    margin: 20px;
    grid-area: 1/1;
    
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .grid-container:hover .item1 {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .item1 h3, .item1 p {
    backface-visibility: hidden;
  }
  
  /* Style the front side */
  .item1 p {
    background-image: url("img/japan2.jpg"); 
    background-size: cover;
    background-position: center;
  }
  
  /* Style the back side */
  .item1 h3 {
    background-color:grey;
    color: white;
    transform: rotateY(180deg);
  }



                                    /*ITEM 2*/

  /* This container is needed to position the front and back side */
  .item2 {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    grid-area: 1/2;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .grid-container:hover .item2 {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .item2 h3, .item2 p {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  /* Style the front side */
  .item2 p {
    background-image: url("img/japan2.jpg"); 
    background-size: cover;
    background-position: center;
  }
  
  /* Style the back side */
  .item2 h3 {
    background-color:grey;
    color: white;
    transform: rotateY(180deg);
  }


                    
                   /*ITEM 3*/

/* This container is needed to position the front and back side */
  .item3 {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    grid-area: 1/3;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .grid-container:hover .item3 {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .item3 h3, .item3 p {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  /* Style the front side */
  .item3 p {
    background-image: url("img/japan2.jpg"); 
    background-size: cover;
    background-position: center;
  }
  
  /* Style the back side */
  .item3 h3 {
    background-color:grey;
    color: white;
    transform: rotateY(180deg);
  }


                    /*ITEM 4*/
/* This container is needed to position the front and back side */
.item4 {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    grid-area: 2/1;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .grid-container:hover .item4 {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .item4 h3, .item4 p {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  /* Style the front side */
  .item4 p {
    background-image: url("img/japan2.jpg"); 
    background-size: cover;
    background-position: center;
  }
  
  /* Style the back side */
  .item4 h3 {
    background-color:grey;
    color: white;
    transform: rotateY(180deg);
  }  


  /*ITEM 5*/
/* This container is needed to position the front and back side */
.item5 {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    grid-area: 2/2;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .grid-container:hover .item5 {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .item5 h3, .item5 p {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  /* Style the front side */
  .item5 p {
    background-image: url("img/japan2.jpg"); 
    background-size: cover;
    background-position: center;
  }
  
  /* Style the back side */
  .item5 h3 {
    background-color:grey;
    color: white;
    transform: rotateY(180deg);
  }  






  /*ITEM 6*/
/* This container is needed to position the front and back side */
.item6 {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    grid-area: 2/3;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .grid-container:hover .item6 {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .item6 h3, .item6 p {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  /* Style the front side */
  .item6 p {
    background-image: url("img/japan2.jpg"); 
    background-size: cover;
    background-position: center;
  }
  
  /* Style the back side */
  .item6 h3 {
    background-color:grey;
    color: white;
    transform: rotateY(180deg);
  }  