.flex-container{
    width: 80%;
    min-height: 400px;
    margin: 0 auto;
    display: -webkit-flex; /* Safari */     
    display: flex; /* Standard syntax */
	text-align:justify;
	
}
.flex-container .col.ing{
 padding: 15px;
    -webkit-flex: 1; /* Safari */
    -ms-flex: 1; /* IE 10 */
    flex: 1; /* Standard syntax */
}

