@font-face {
   font-family:LibbyHeavy ;
   src: url(LibbyHeavy.ttf.eot);
src:local('LibbyHeavy.ttf'), url('LibbyHeavy.ttf') format('truetype');}

@font-face {
   font-family:Bernhard Antique ;
   src: url(Bernhard Antique.eot);
src:local('Bernhard Antique'), url('BernhardAntique.ttf') format('truetype');}


@font-face {
   font-family:Typo Grotesk Black ;
   src: url(Typo Grotesk Black Demo.eot);
src:local('Typo Grotesk Black Demo'), url('Typo Grotesk Black Demo.otf') format('truetype');}



body{
background: url("metal background.jpg");
 }


.title{
	font-family:LibbyHeavy;
	font-size:100px;
	text-align:justify;
	word-break: break-word;
	margin-left:420px;
	margin-right:420px;
	vertical-align: center;
	text-decoration:underline;
	padding-top: 30px;
	color: 	#483D8B;
	max-width:100%;
}

.container{margin-top: 200px;
background-color: #FFFAFA;
border:10px solid;
}

.grid-container {
  display: grid;
  grid-template-columns:;
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}


.grid-container > div{
	text-align: justify;
	border-left:solid;
	font-family:Bernhard Antique;
}


h2{font-family:Bernhard Antique;
	text-transform: uppercase;
	font-size: 25px;}
	
h3{font-family:Bernhard Antique;
	font-size: 25px;}


a:link{font-family: Typo Grotesk Black; 
color:black;
}

a:active {
color: black;}

a:visited {
color: red;}

hr{border:5px solid black;}



.item1{  grid-area:1/6;
}
 
.item2{grid-area: 2/6;
		
}
.item3{grid-area:3/6;}


.item4{ grid-area: 4/6;

}
.item5{ grid-area: 5/6;
}

.item6{ grid-area: 6/7;
}




 