.nav-link {
            margin-right: 15px;
            }

.navbar-toggler-icon {
            background-image: url('https://mdbootstrap.com/img/svg/hamburger9.svg?color=FF2C00');
            }

.dropdown-item {
            color: #FFFFFF;
            }

.card-img-top {
            width: 100%;
            object-fit: cover;
            } 

.footer {
            position:default;
            left: 0;
            width: 100%;
            background-color: #000000;
            color: white;
            text-align: center;
            font-family: Helvetica, Arial, sans-serif;
            padding: 5px;
            letter-spacing: 2.5px;
            font-size: 11px;
            padding-top: 15px; 
            
                }

/* FORM IN FOOTER
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button-form {
	font-family: Helvetica, Arial, sans-serif;
background-color:transparent;
color: white;
 border: none;
}

.footer-end{
	font-family: Helvetica, Arial, sans-serif;
color: white;
}

.modal-title{
	font-family: Helvetica, Arial, sans-serif;
color: black;
}


/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color:transparent;
  color: black;
  border: none;
}

input[type=submit]:hover {
  background-color: transparent;
}

/* Style the container/contact section */
.container {
  background-color:white;
  padding: 10px;
}

.column {
  width: 100%;
  margin-top: 6px;
  padding: 20px;
  font-family: Helvetica, Arial, sans-serif;
  color: black;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
      
			
a:link, a:visited {
            text-decoration:none;
            color: grey;
            background-color: transparent;
    }
a:hover, a:active {
        text-decoration:none;
        color: white;
    }

    
   

    
   
/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.timeline {
  width: 70%; /*lunghezza timeline*/
  max-width: 800px;
  margin: auto;
  text-align: left;
  font-family: Helvetica, Arial, sans-serif;
}


.timeline {
  white-space: nowrap; /*per non farli sovrapporre*/
  overflow-x: hidden;
}

.timeline ol {
  font-size: 0px;
  width: 20px;
  padding: 70px;
  transition: all 1s; /*caricamento timeline lento (sfumato)*/
}

.timeline ol li {
  position: relative;
  display: inline-block;
  width: 80px; /*distanza tra i pallini*/
  height: 2px; /*spessore linea*/
  background: black; /*colore linea*/
  margin-left: 14px;
}

.timeline ol li:last-child {
  width: 100px;
} /*lunghezza ultimo tratto linea*/

.timeline ol li:not(:last-child)::after { /*per modificare i pallini*/
  content: '';
  position: absolute;
  top: 50%;
  left: calc(100% + 1px);
  width: 12px;
  height: 12px;
  transform: translateY(-50%);
  border-radius: 50%;
  background: grey;
}

.timeline ol li div {
  position: absolute;
  left: calc(80% + 7px); /*fa spostare il testo*/
  width: 20px;
  padding: 1px;
  color:black; /*colore testo*/
  background: white;
}

.timeline ol li:nth-child(odd) div {
  top: -16px;
  transform: translateY(-100%);
}

.timeline ol li:nth-child(even) div {
  top: calc(100% + 16px);
}


.timeline time {
  display: inline-block;
  font-size: 16px; /*dimensione del testo*/
  font-weight: normal;
  margin-bottom: 8px;
}


/* ABOUT
–––––––––––––––––––––––––––––––––––––––––––––––––– */



=======
/* DISCLAIMER
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.modal-fade {
 font-family: Helvetica, Arial, sans-serif;
 
}

.modal-footer{
background-color: transparent;


}
.button {
font-family: Helvetica, Arial, sans-serif;
background-color:transparent;
color: black;

 border: none;
}

.button:hover{color: #aeb0c8;
} /*modifica del bottone quando passa il mouse*/

.button:active {
 color: #aeb0c8;
 border: transparent;
 outline: none;
} 
} /*modifica del bottone quando si clicca il bottone*/

