.nav-link {
            margin-right: 15px;
            }

.navbar-toggler-icon {
            background-image: url('https://mdbootstrap.com/img/svg/hamburger9.svg?color=FF2C00');
            }

.dropdown-item {
            color: #FFFFFF;
            }

.card-img-top {
            width: 100%;
            object-fit: cover;
            } 

.footer {
            position:sticky;
            left: 0;
            width: 100%;
            background-color: #000000;
            color: white;
            text-align: center;
            font-family: Helvetica, Arial, sans-serif;
            padding: 5px;
            letter-spacing: 2.5px;
            font-size: 11px;
            padding-top: 15px; 
            
                }

.disclaimer {
            margin: 10px;
                }
      
.foot-menu {
            text-align: center;
                }

a:link, a:visited {
            text-decoration:none;
            color: grey;
            background-color: transparent;
    }
a:hover, a:active {
        text-decoration:none;
        color: black;
    }

    
   
/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.timeline {
  width: 70%; /*lunghezza timeline*/
  max-width: 800px;
  margin: auto;
  text-align: left;
  font-family: Helvetica, Arial, sans-serif;
}


.timeline {
  white-space: nowrap; /*per non farli sovrapporre*/
  overflow-x: hidden;
}

.timeline ol {
  font-size: 0px;
  width: 20px;
  padding: 70px;
  transition: all 1s; /*caricamento timeline lento (sfumato)*/
}

.timeline ol li {
  position: relative;
  display: inline-block;
  width: 80px; /*distanza tra i pallini*/
  height: 2px; /*spessore linea*/
  background: black; /*colore linea*/
  margin-left: 14px;
}

.timeline ol li:last-child {
  width: 100px;
} /*lunghezza ultimo tratto linea*/

.timeline ol li:not(:last-child)::after { /*per modificare i pallini*/
  content: '';
  position: absolute;
  top: 50%;
  left: calc(100% + 1px);
  width: 12px;
  height: 12px;
  transform: translateY(-50%);
  border-radius: 50%;
  background: grey;
}

.timeline ol li div {
  position: absolute;
  left: calc(80% + 7px); /*fa spostare il testo*/
  width: 20px;
  padding: 1px;
  color:black; /*colore testo*/
  background: white;
}

.timeline ol li:nth-child(odd) div {
  top: -16px;
  transform: translateY(-100%);
}

.timeline ol li:nth-child(even) div {
  top: calc(100% + 16px);
}


.timeline time {
  display: inline-block;
  font-size: 16px; /*dimensione del testo*/
  font-weight: normal;
  margin-bottom: 8px;
}


/* team
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.card-img-top {
  position: absolute;
  top: -45px;
  left: 50%;
  margin-left: -45px;
  width: 90px !important;
  height: 90px;
}

  .card {
  margin-top: 5px;
  padding-top: 30px;
  }

.card-deck {
  padding-left: 50px;
  padding-right: 50px;
  }

.card-body{
  padding-top: 50px;
  }


=======
/* DISCLAIMER
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.modal-fade {
 font-family: Helvetica, Arial, sans-serif;
 
}

.modal-footer{
background-color: transparent;


}
.button {
font-family: Helvetica, Arial, sans-serif;
background-color:transparent;
color: black;

 border: none;
}

.button:hover{color: #aeb0c8;
} /*modifica del bottone quando passa il mouse*/

.button:active {
 color: #aeb0c8;
 border: transparent;
 outline: none;
} 
} /*modifica del bottone quando si clicca il bottone*/
>>>>>>> 97d6c57c08014c86fb1933bbfb748c7f5f6bb1ac
