.nav-link { cursor: pointer;
            margin-right: 15px;
            }

.navbar-toggler-icon {
            background-image: url('https://mdbootstrap.com/img/svg/hamburger9.svg?color=FF2C00');
            }

.dropdown-item {
            color: #FFFFFF;
            }

.card-img-top {
            width: 100%;
            object-fit: cover;
            } 

.footer {
            position:default;
            left: 0;
            width: 100%;
            background-color: #000000;
            color: white;
            text-align: center;
            font-family: Helvetica, Arial, sans-serif;
            padding: 5px;
            letter-spacing: 2.5px;
            font-size: 11px;
            padding-top: 15px; 
			padding-bottom: 5px;
            
                }



/* FORM IN FOOTER*/
#button-contact-us { 
	font-family: Helvetica, Arial, sans-serif;
background-color:transparent;
color: white;
 border: none;
}


.footer-end{
	font-family: Helvetica, Arial, sans-serif;
color: white;
}

.modal-title{
	font-family: Helvetica, Arial, sans-serif;
color: black;
}


/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color:transparent;
  color: black;
  border: none;
}

input[type=submit]:hover {
  background-color: transparent;
}

/* Style the container/contact section */
.container {
  background-color:white;
  padding: 10px;
}

.column {
  width: 100%;
  margin-top: 6px;
  padding: 20px;
  font-family: Helvetica, Arial, sans-serif;
  color: black;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
      
			
a:link, a:visited {
            text-decoration:none;
            color: grey;
            background-color: transparent;
    }
a:hover, a:active {
        text-decoration:none;
        color: white;
    }

    
   


/* ABOUT
–––––––––––––––––––––––––––––––––––––––––––––––––– */



=======
/* DISCLAIMER
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.modal-fade {
 font-family: Helvetica, Arial, sans-serif;
 
}

.modal-footer{
background-color: transparent;


}
.button { 
font-family: Helvetica, Arial, sans-serif;
background-color:transparent;
color: black;

 border: none;
}

.button:hover{color: #aeb0c8;
} /*modifica del bottone quando passa il mouse*/

.button:active {
 color: #aeb0c8;
 border: transparent;
 outline: none;
} 

#close-button{ /*non prende più questi comandi...anche per quanto riguarda quello del disclaimer... in rete non li vedo come voglioo*/
font-family: Helvetica, Arial, sans-serif;
background-color:transparent;
color: black; 
 border: none;
font-size:10px;
}
} /*modifica del bottone quando si clicca il bottone*/

/* timeline 
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#timeline-wrap{
  margin:20% 20%;
  top:100;
  position:relative;
 
}

#timeline{
  height:1px;
  width: 100%;
  background-color: #999999;
  position:relative;
 
}

 .marker{
   z-index:1000;
  line-height: 50px;
  font-size: 1em;
  text-align: center;
  position: absolute;
  margin-left: -25px;
        }

 

.mfirst{
     top:-25px;
}

.m2{
     top:-25px;
      left:16.6%
}

.m3{
     top:-25px;
    left:33.2%
}

.m4{
     top:-25px;
    left:49.8%
}

.m5{
  top:-25px;
    left:66.4%
  }


.m6{
  top:-25px;
    left:83%
  }


.mlast{
     top:-25px;
    left:100%
}




