@font-face {
   font-family:LibbyHeavy ;
   src: url(LibbyHeavy.ttf.eot);
src:local('LibbyHeavy.ttf'), url('LibbyHeavy.ttf') format('truetype');}

@font-face {
   font-family:Bernhard Antique ;
   src: url(Bernhard Antique.eot);
src:local('Bernhard Antique'), url('BernhardAntique.ttf') format('truetype');}


@font-face {
   font-family:Typo Grotesk Black ;
   src: url(Typo Grotesk Black Demo.eot);
src:local('Typo Grotesk Black Demo'), url('Typo Grotesk Black Demo.otf') format('truetype');}

@font-face {
   font-family:futurismo ;
   src: url(futurismo.eot);
src:local('futurismo'), url('futurismo.ttf') format('truetype');}

@font-face {
   font-family:English Gothic Bold Italic ;
   src: url(English Gothic Bold Italic.eot);
src:local('English Gothic Bold Italic'), url('English Gothic Bold Italic.ttf') format('truetype');}



body{background-image: url("metal background.jpg");
}




h1{
	font-family:LibbyHeavy;
	font-size:100px;
	text-align:justify;
	word-break: break-word;
	margin-left:420px;
	margin-right:420px;
	vertical-align: center;
	text-decoration:underline;
	padding-top: 30px;
	color: 	#483D8B;
	max-width:100%;
}


@media screen and (max-width: 1200px) {h1 { font-size: 45px;

margin-left:365px;
  margin-right:365px;
}}





@media screen and (max-width: 1000px) {h1 { font-size: 45px;

margin-left:265px;
  margin-right:265px;
}}


@media screen and (max-width: 700px) {h1 { font-size: 45px;

margin-left: 150px;
  margin-right:150px;
}}


tr{border-bottom:solid;}
table{text-align:center;
  padding-top:-30%;
}

#subright{font-family:futurismo;
font-size:30px;
color: red;
}

#subcenter{font-family:futurismo;
font-size:20px;}

#subleft{font-family:futurismo;
font-size:20px;}

.container{margin-top: 100px;
  margin-bottom: 70px;
background-color: #FFFAFA;
border: 20px outset black;




}

.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;

  }




.grid-container > div{

	text-align: justify;
	
   float: left;
   margin: 40px;
}



p{font-family:LibbyHeavy;
font-size: 10px;}

@media screen and (max-width: 1000px) { p { font-size: 7px;


}}


h3{font-family:English Gothic Bold Italic;
	font-size: 25px;}
	
@media screen and (max-width: 1000px) { h3 { font-size: 20px;


}}

a:link{font-family: futurismo; 
color:black;
font-size:15px;
}

a:active {
color: black;}

a:visited {
color: red;}

hr{border:5px solid black;}



.item1{ 
grid-column-end: span 2;
width: 400px;
border-right: solid;
padding-right: 5px;
transform: rotate(10deg);
padding-left: 50px;
}
 


.item2{
padding-right: 50px;
border-top: solid;
padding-top: 5px;
transform: rotate(180deg);
}

.item3{
width: 500px;
border-top: solid;
padding-top: 5px;
transform: rotate(-90deg);
} 



.item4{ 
grid-column-end: span 2;

width: 350px;
border-right: solid;
padding-right: 5px;
transform: rotate(30deg);
padding-left: 30px;


}


.item5{border-top: solid;
}
 



.item6{ width: 200px;
border-left: solid;
padding-left: 5px;
transform: rotate(-30deg);


     
}






 